/* Stylesheet for ChordPro song rendering *************************************/
:root {
  --airiness: 20px;

  /* General */
  --bg: #f8f8f8;
  --text: #000000;
  --accent: #2277aa;
  --chord: var(--accent);
  --comment: #555555;

  /* Nav */
  --songs-gap: 15px;

  /* Sections */
  --accent-chorus: var(--accent);
  --accent-tab: var(--comment);
  --accent-comment: var(--comment);
}

/* GLOBAL ################################################################### */

body {
  background: var(--bg);
  color: var(--text);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  margin: 0;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#index-header,
#song-header {
  flex: 0 0 auto;

  padding: var(--airiness) calc(2 * var(--airiness));
  width: stretch;

  box-shadow: 0 2px 4px 1px gray;
  z-index: 1;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
  font-weight: 300;
}

/* INDEX #################################################################### */

#index-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#index-songs {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: var(--songs-gap);

  padding: var(--airiness);

  >a {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: calc(var(--airiness) / 2);

    color: var(--text);
    text-decoration: none;
  }
}

.index-song-title {
  font-weight: 700;
}

.index-song-artist {
  font-style: italic;
}

/* SONGS #################################################################### */

#song-header {
  display: grid;
  gap: var(--airiness);
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

#song-content {
  flex: 1 1 auto;

  padding: var(--airiness) 100px;
  min-height: 0;
  overflow-y: auto;
  width: fit-content;

  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  row-gap: var(--airiness);
  column-gap: calc(2*var(--airiness));

  transform-origin: top center;
  transition: transform 0.2s ease;
}

footer {
  flex: 0 0 auto;
}

/* Header *********************************************************************/

#song-header-buttons {
  position: relative;
  justify-self: start;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  gap: var(--airiness);
}

#song-header-title {
  justify-self: center;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#song-header-meta {
  justify-self: end;
}

#song-title {
  margin: 0;

  font-size: 2em;
  font-weight: 700;
  text-align: center;
}

/* Lines, Chords, Lyrics ******************************************************/

.cp-line {
  word-wrap: break-word;
}

.cp-unit {
  display: inline-block;
}

.cp-chord {
  display: block;
  color: var(--chord);
  font-weight: 700;
  margin-right: 5px;
}

.cp-lyric,
.cp-lyric-only,
.cp-lyric-line {
  color: var(--text);
  white-space: pre-wrap;
}

/* Sections *******************************************************************/

.cp-section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 0.2rem;
}

/* Tabs Sections **************************************************************/

.cp-section[data-section="tab"] {
  font-family: "Courier New", Courier, monospace;
  font-size: 0.85em;
  background: var(--bg);

  line-height: 1;

  min-height: fit-content;
  max-width: 400px;
  overflow-x: auto;
  overflow-y: hidden;
}

.cp-section[data-section="tab"] .cp-lyric-line {
  min-width: 0;
  max-width: 100%;
  min-height: fit-content;
  overflow-x: visible;
  white-space: nowrap;
}

/* Sections Numbering *********************************************************/

.cp-section[data-section="verse"] {
  counter-increment: verse;
}

.cp-section {
  position: relative;
}

.cp-section::before {
  position: absolute;

  left: -7px;
  top: 0;

  line-height: normal;

  color: var(--comment);
  font-weight: 700;
}

.cp-section[data-section="verse"]::before {
  content: counter(verse);
}

.cp-section[data-section="bridge"]::before {
  content: "B";
}

.cp-section[data-section="prechorus"]::before {
  content: "P";
}

/* References ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.cp-chorus-ref {
  font-weight: 700;
  color: var(--comment);
}

.cp-chorus-ref::before {
  content: "Ref";
}

/* Section Accents ************************************************************/

/* This nested in #song-content as comments can be inside sections */
#song-content {

  >.cp-section,
  >.cp-chorus-ref,
  >.cp-comment,
  >.cp-comment-italic,
  >.cp-comment-box {
    padding-left: calc(var(--airiness) - 2px);
    margin-left: 2px;
    border-left: 4px solid var(--bg);
  }

  .cp-section[data-section="chorus"],
  .cp-chorus-ref {
    border-left-color: var(--accent-chorus);
  }

  .cp-section[data-section="tab"] {
    border-left-color: var(--accent-tab);
  }
}

/* Comments ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.cp-comment,
.cp-comment-italic,
.cp-comment-box {
  color: var(--comment);
  font-style: italic;
}

.cp-comment-box {
  border-left-color: var(--accent-comment);
}

/* Ignored elements ***********************************************************/
.cp-grid-on,
.cp-grid-off,
.cp-section-label,
.cp-break,
.cp-transpose,
.cp-columns,
.cp-header {
  display: none;
}

/* Buttons ********************************************************************/

.button {
  color: var(--text);
  text-decoration: none;
  height: 100%;
  display: inline-block;

  i {
    font-size: 30px;
    filter: drop-shadow(2px 2px 3px gray);
  }
}

button {
  background-color: var(--bg);
  border: none;
  padding: 0;
  cursor: pointer;

  i {
    font-size: 30px;
    filter: drop-shadow(2px 2px 3px gray);
  }
}

/* Toggle Boxes ***************************************************************/

.toggled-box {
  position: absolute;
  top: 50px;
  left: 0px;

  background: var(--bg);
  border: 2px solid gray;
  border-radius: 5px;
  box-shadow: 0 5px 10px 0px gray;

  padding: var(--airiness);
  display: flex;
  gap: var(--airiness);
  z-index: 1000;
}

.hidden {
  display: none !important;
}

.control-show {
  font-size: 30px;
  text-align: right;
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
}

/* Transpose ******************************************************************/

#transpose-show {
  width: 2ch;
}

/* Zoom ***********************************************************************/

#zoom-show {
  width: 4ch;
}

/* Seeks **********************************************************************/

.button-seek {
  position: fixed;
  top: 10vh;
  bottom: 10vh;
  width: 100px;
  height: 80vh;

  background-color: transparent;
  transition: background-color 0.15s ease;
  /* the fade */

  display: flex;
  align-items: center;
  justify-content: center;
}

.button-seek:hover {
  background-color: lightslategray;
}

#seek-previous {
  left: 0;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

#seek-next {
  right: 0;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

/* Small Device ***************************************************************/

@media (max-width: 600px) {
  body {
    height: auto;
  }

  #song-content {
    flex-flow: column;
    width: stretch;
    padding-bottom: 100px;
    padding-left: var(--airiness);
    padding-right: var(--airiness);
    min-height: 65vh;
  }

  #index-header,
  #song-header {
    padding-left: var(--airiness);
    padding-right: var(--airiness);
  }

  #song-header-buttons {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;

    display: inline flex;
    background-color: var(--bg);
    padding: calc(var(--airiness) / 2) var(--airiness);
    gap: var(--airiness);

    box-shadow: 0 -2px 4px 1px gray;
  }

  .toggled-box {
    position: fixed;
    top: auto;
    bottom: 50px;
    left: 50%;
    height: fit-content;
    transform: translateX(-50%);
  }

  #song-header-title {
    grid-column-start: 2;
  }

  .button-seek {
    display: none !important;
  }

  .cp-section[data-section="tab"] {
    max-width: stretch;
  }
}