<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Songbook</title>
    <link rel="stylesheet" href="stylesheet.css">
</head>

<body>
    <div class="index">
        <header class="card">
            <h1 class="title">Songbook</h1>
        </header>
        <nav class="card songs">
            {% for song in songs %}
            <a href="{{ song.filename }}">
                <span class="song-title">{{ song.title }}</span>
                {% if song.artist %}<span class="song-artist">{{ song.artist }}</span>{% endif %}
            </a>
            {% endfor %}
        </nav>
    </div>
</body>

</html>