<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Songbook</title>
    <link rel="icon" href="assets/favicon.svg" type="image/svg+xml">
    <link rel="stylesheet" href="assets/stylesheet.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>

<body>
    <header id="index-header">
        <h1>Songbook</h1>
    </header>
    <nav id="index-songs">
        {% for song in songs %}
        <a href="{{ song.filename }}">
            <span class="index-song-title">{{ song.title }}</span>
            {% if song.artist %}
            <span class="index-song-artist">{{ song.artist }}</span>
            {% endif %}
        </a>
        {% endfor %}
    </nav>
</body>

</html>