<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ song.meta.title }}</title>
    <link rel="stylesheet" href="../stylesheet.css">
</head>

<body>
    <div class="cp-song">
        <header>
            <a class="song-return badge" href="../index.html">Index</a>
            <div class="song-header">
                <h1 class="title">{{ song.meta.title }}</h1>
                {% if song.meta.subtitle %}
                    {% for subtitle in song.meta.subtitle %}
                        <h2 class="subtitle">{{ subtitle }}</h2>
                    {% endfor %}
                {% endif %}
                <div class="metadata">
                    {% if song.meta.artist %}
                        <div class="artist">
                            {% if song.meta.artist is string %}
                                {{ song.meta.artist }}
                            {% else %}
                                {{ song.meta.artist | join(", ") }}
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
            {% if song.meta.capo %}
                <div class="capo badge">
                    <span>Capo </span> {{ song.meta.capo }}
                </div>
            {% endif %}
        </header>

        <main class="song-content">
            {{ rendered_content | safe }}
        </main>
    </div>
</body>

</html>
